<%= form_with(model: user, class: 'user-form') do |form| %>
  <div class="error-message">
    <% if user.errors.any? %>
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="error-list">
        <% user.errors.each do |error| %>
          <li class="error-item"><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
