<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usu치rio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "users", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container">
    <h1 class="edit-user-heading">Editar Usu치rio</h1>

    <%= render "form", user: @user %>

    <br>

    <div>
      <%= link_to "游몯 Voltar para Usu치rios", users_path, class: "back-to-users-link" %> |
      <%= link_to "Mostrar Usu치rio", @user, class: "show-user-link" %>
    </div>
  </div>
</body>
</html>
