<p class="notice"><%= notice %></p>

<div class="user-details">
  <%= render @user %>

  <div class="user-actions">
    <%= link_to "🡨 Voltar para Usuários", users_path, class: "back-link" %> |
    <%= link_to "Editar Usuário", edit_user_path(@user), class: "edit-link" %> |
    <%= button_to "Excluir Usuário", @user, method: :delete, class: "destroy-button" %>
</div>
