<%= form_with model: sale do |form| %>
  <div class="sale-field">
    <%= form.label :purchaser_name, "Nome do Comprador", class: 'sale-label' %>
    <%= form.text_field :purchaser_name, class: 'sale-input', maxlength: "30", minlength: "10" %>
    <% if @sale.errors[:purchaser_name].any? %>
      <% @sale.errors[:purchaser_name].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.label :item_description, "Descrição do Item", class: 'sale-label' %>
    <%= form.text_field :item_description, class: 'sale-input', maxlength: "30", minlength: "10" %>
    <% if @sale.errors[:item_description].any? %>
      <% @sale.errors[:item_description].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.label :item_price, "Valor do Item", class: 'sale-label edit-sale-numeric' %>
    <%= form.number_field :item_price, class: 'sale-input', maxlength: "4", minlength: "2" %>
    <% if @sale.errors[:item_price].any? %>
      <% @sale.errors[:item_price].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.label :purchase_count, "Quantidade", class: 'sale-label edit-sale-numeric' %>
    <%= form.text_field :purchase_count, class: 'sale-input', maxlength: "2", minlength: "1" %>
    <% if @sale.errors[:purchase_count].any? %>
      <% @sale.errors[:purchase_count].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.label :merchant_address, "Endereço do vendedor", class: 'sale-label' %>
    <%= form.text_field :merchant_address, class: 'sale-input', maxlength: "30", minlength: "10" %>
    <% if @sale.errors[:merchant_address].any? %>
      <% @sale.errors[:merchant_address].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.label :merchant_name, "Nome do Vendedor", class: 'sale-label' %>
    <%= form.text_field :merchant_name, class: 'sale-input', maxlength: "30", minlength: "10" %>
    <% if @sale.errors[:merchant_name].any? %>
      <% @sale.errors[:merchant_name].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
    <% end %>
  </div>

  <div class="sale-field">
    <%= form.submit 'Adicionar Venda', class: 'sale-submit' %>
  </div>
<% end %>