<!-- app/views/sales/list_sales.html.erb -->

<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Vendas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "material_styles", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="content-container">

    <%= link_to 'Adicionar Venda', new_sale_path, class: 'btn btn-add-sale btn-add-sale-top' %>

    <h1 class="custom-heading">Lista de Vendas</h1>

    <%= form_tag list_sales_sales_path, method: :get, class: 'search-form' do %>
      <%= text_field_tag :search_term, params[:search_term], placeholder: 'Digite para pesquisar', class: 'search-input' %>
      <%= submit_tag 'Pesquisar', class: 'btn btn-primary' %>
    <% end %>

    <% if @sales.present? %>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nome do Comprador</th>
            <th>Descrição do Item</th>
            <th>Preço do Item</th>
            <th>Quantidade</th>
            <th>Endereço do Vendedor</th>
            <th>Nome do Vendedor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.purchaser_name %></td>
              <td><%= sale.item_description %></td>
              <td><%= sale.item_price %></td>
              <td><%= sale.purchase_count %></td>
              <td><%= sale.merchant_address %></td>
              <td><%= sale.merchant_name %></td>
              <td>
                <div class="action-buttons">
                  <%= link_to 'Editar', edit_sale_path(sale), class: 'btn btn-primary', title: 'Editar' %>
                  <%= link_to 'Excluir', sale, data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' }, class: 'btn btn-danger', title: 'Excluir' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="custom-pagination">
        <%=
          will_paginate @sales,
          previous_label: '🡰 Anterior',
          next_label: 'Próximo 🡲'
         %>
      </div>
    <% else %>
      <p class="no-results-message">Nenhum resultado encontrado para a pesquisa.</p>
    <% end %>
  </div>
</body>
</html>
