<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Vendas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "users", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="main-navigation">
      <ul>
        <li><%= link_to 'Upload de Arquivo', upload_form_sales_path %></li>
        <li><%= link_to 'Listagem de Vendas', list_sales_sales_path %></li>
        <li><%= link_to 'Listagem de Usuários', users_path %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
